[core]
  email = seixasfelipe@gmail.com
[user]
	name = Felipe Seixas
	email = seixasfelipe@gmail.com
[alias]
  co = checkout
  st = status
  ci = commit
[color] 
  diff = auto
  interactive = auto
  status = auto
  branch = auto
